* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
    background-color: #8b5aa1;
}

.header {
    margin: 0;
    padding: 0;
    font-family: 'Caveat Brush', cursive;

}

.navbar {
    position: sticky;
    background-color: #800060;
}

.nav {
    height: 64px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}

.nav-item {
    display: inline-block;
}

.nav-link:hover {
    background-color: rgba(204, 153, 255, 0.2) !important;
}

.nav-link:visited {
    color: #4d0066;
  }
  
  .nav-link:active {
    background-color: rgba(255, 153, 153, 0.3);
  }

.nav-link {
    font-family: 'Caveat', cursive;
    font-variant: small-caps;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    transform: translateY(30%);
}

.logo {
    float: left;
    width: 60px;
}

.contact-link {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.link-style {
    text-decoration: none;
    color: #730099;
}

.row::after {
    display: block;
    content: "";
    clear: both;

}

.col {
    float: left;
}

.col-1-2 {
    width: 50%;
} 

footer {
    background-color: #4d0066;
}

.conversation {
    font-size: 45px;
    color: white;
}

.contact-info-wrapper {
    height: 304px;
}

.contact-info {
    list-style-type: none;
    color: white;
}

.contact-info li {
    margin-bottom: 25px;
}

.contact-info li:last-of-type {
    margin-bottom: 0;
}

.contact-info a {
    text-decoration: none;
    color: white;
}

.contact-info i {
    display: inline-block;
    width: 40px;
    font-size: 24px;
}

.copy-right-wrapper {
    height: 68px;
    background-color: #660288;
    color: white;
}

.copy-right {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.vertical-center-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}